{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
        <title>Optimierungstool Hauptseite</title>
    </head>
    <body>
      <!-- Side navigation -->
        <div class="sidenav">
          <a href="{% url 'start_page' %}"> Startseite </a>
          <a href="{% url 'input_main' %}"> Datenverwaltung </a>
            <h5> <a href="{% url 'teacher_page' %}">  Lehrer </a></h5>
            <h5> <a href="{% url 'room_page' %}"> Räume </a></h5>
            <h5> <a  href="{% url 'curriculum_page' %}"> Lehrpläne </a></h5>
            <h5> <a  href="{% url 'unavailable_page' %}"> Lehrerverfügbarkeit </a></h5>
            <h5> <a  href="{% url 'parallel_page' %}"> Parallelfächer </a></h5>
            <h5> <a  href="{% url 'mainteacher_page' %}"> Klassleitungen </a></h5>
            <h5> <a  href="{% url 'hoursperday_page' %}"> Stundenzahlen </a></h5>
            <h5> <a  href="{% url 'guidelines_page' %}"> Vorgaben </a></h5>
          <a href="{% url 'optimierung_main' %}"> Optimierung </a>
            <h5> <a  href="{% url 'datencheck' %}"> Datencheck </a></h5>
            <h5> <a  href="{% url 'parameters' %}"> Parameter </a></h5>
            <h5> <a  href="{% url 'optimierung' %}"> Optimierung </a></h5>
          <a href="{% url 'output_main' %}"> Ergebnisse </a>
            <h5> <a  href="{% url 'output_teacher' %}"> Lehrer </a></h5>
            <h5> <a  href="{% url 'output_classes' %}"> Klassen </a></h5>
        </div>
      <div class='main'>
        <div class="page-header">
            <h1><a href="/"> Optimierungstool für das SFZ München Mitte 1</a></h1>
            <br />
            <br />
            <p> Herzlich Willkommen im Optimierungstool für ihre Schule! Von hier können sie die gesamte Optimierung steuern.</p>
            <p> Geben sie unter "Datenverwaltung" alle Daten ein und überprüfen sie sie auf Fehler im "Datencheck"</p>
            <p> Unter Optimierung werden die Stundenpläne erstellt, die sie in "Ergebnisse" herunterladen können </p>
        </div>

        <br />
        <br />
        <div class="container">
          <button type="button" class="btn btn-light"> <h2><a href="{% url 'input_main' %}"> Datenverwaltung </a></h2> </button>
            <p> Dieser Unterpunkt erlaubt ihnen, ihr Personal mit Name, Arbeitsstunden und ihren Fächern zu verknüpfen</p>
            <p> Außerdem können sie alle weiteren Vorgaben an die Stundenpläne, Klassen oder das Personal hier verwalten</p>
            <br />
            <br />
        </div>
        <div class="container">
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'optimierung_main' %}"> Optimierung</a></h2></button>
            <p> Hier werden sie Schritt für Schritt durch einen vollen Optimierungsprozess geleitet</p>
            <p> Außerdem befindet sich hier der Datencheck, um zu überprüfen, ob ihre Daten Widersprüche enthalten</p>
            <br />
            <br />
        </div>
        <div class="container">
           <button type="button" class="btn btn-light"> <h2><a href="{% url 'output_main' %}"> Ergebnisse</a></h2> </button>
            <p> In diesem Punkt können sie ihre bereits produzierten Ergebnisse ansehen und als Excel oder PDF Datei exportieren</p>
            <br />
            <br />
        </div>
      </div>
      <br />
      <br />            <br />
                  <br />            <br />
                              <br />            <br />
                                          <br />            <br />
                                                      <br />
    </body>
</html>
