{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/optimierung.css' %}">
        <title> Datencheck </title>
    </head>
    <body>
      <!-- Side navigation -->
        <div class="sidenav">
          <a> <h2> <a href="{% url 'logout' %}"> Logout </h2> </a>
          <a href="{% url 'start_page' %}"> Startseite </a>
          <a href="{% url 'input_main' %}"> Datenverwaltung </a>
            <h5> <a href="{% url 'teacher_page' %}">  Lehrer </a></h5>
            <h5> <a href="{% url 'room_page' %}"> Räume </a></h5>
            <h5> <a  href="{% url 'curriculum_page' %}"> Lehrpläne </a></h5>
            <h5> <a  href="{% url 'unavailable_page' %}"> Lehrerverfügbarkeit </a></h5>
            <h5> <a  href="{% url 'parallel_page' %}"> Parallelfächer </a></h5>
            <h5> <a  href="{% url 'uebergreifend_page' %}"> Übergreifende Fächer </a></h5>
            <h5> <a  href="{% url 'mainteacher_page' %}"> Klassleitungen </a></h5>
            <h5> <a  href="{% url 'hoursperday_page' %}"> Stundenzahlen </a></h5>
            <h5> <a  href="{% url 'guidelines_page' %}"> Vorgaben </a></h5>
          <a href="{% url 'optimierung_main' %}"> Optimierung </a>
            <h5> <a  href="{% url 'datencheck' %}"> Datencheck </a></h5>
            <h5> <a  href="{% url 'parameters' %}"> Parameter </a></h5>
            <h5> <a  href="{% url 'optimierung' %}"> Optimierung </a></h5>
          <a href="{% url 'output_main' %}"> Ergebnisse </a>
            <h5> <a  href="{% url 'output_teacher' %}"> Lehrer </a></h5>
            <h5> <a  href="{% url 'output_classes' %}"> Klassen </a></h5>
        </div>
      <div class='main'>
        <div class="page-header">
            <h1><a href="/"> Datencheck</a></h1>
            <br />
            <br />
        </div>
        <div>
          <br />
          <br />
          <p> Hier finden sie die Fehlermeldungen aus ihrer Dateneingabe: </p>
          <br />
          <br />
        </div>
        <div class="alert alert-secondary" role="alert">
          <br />
          <br />
          {% for message in messages %}
            <p> <b> {{ message }} </b> </p>
          <br />
          <br />
          {% endfor %}
          <br />
          <br />
        </div>
        <div>
          <p> Waren die Daten in Ordnung? Dann gehts hier zu den Parametereinstellungen: </p>
          <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'parameters' %}'"> <h2> Parameter Einstellungen </h2> </button>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </body>
</html>
