{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/optimierung.css' %}">
        <title> Optimierungsprozess </title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> Optimierungsprozess </a></h1>
            <br />
            <br />
        </div>
        <div>
          <p> Hier läuft die Optimierung </p>
          <p> Eventuelle Fehlermeldungen während der Optimeirung sollen hier in einer Box angezeigt werden </p>
        </div>
        <div>
          <p> Die Optimierung ist fertig? Dann gehts hier zu den Ergebnissen:</p>
          <h2><a href="{% url 'output_main' %}"> Ergebnisse </a></h2>
        </div>
    </body>
</html>
