{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/optimierung.css' %}">
        <title>Optimierung</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> Startseite Optimierungsprozess </a></h1>
            <br />
            <br />
        </div>
        <p>Hier ist die Startseite für die Optimierung. Hier soll ein Schritt für Schritt Prozess entstehen, der durch die Optimierung leitet</p>
        <div>
            <h2><a href="{% url 'datencheck' %}"> Datencheck </a></h2>
        </div>
        <div>
            <h2><a href="{% url 'parameters' %}"> Parameter Settings</a></h2>
        </div>
        <div>
            <h2><a href="{% url 'optimierung' %}"> Optimierung</a></h2>
        </div>
    </body>
</html>
