{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/optimierung.css' %}">
        <title> Parameter </title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> Einstellung der Optimierungsparameter </a></h1>
            <br />
            <br />
        </div>
        <div>
          <p> Hier können sie alle Parameter für die Optimierung einstellen </p>
          <p> Dabei ist zu beachten, dass der Wert, den sie eingeben, in etwa dem entsprechen soll, wie wichtig ihnen die Beachtung des entsprechenden Punkts der Optimierung ist </p>
        </div>
        <div>
          <p> Alle Parameter eingestellt? Dann gehts hier zur Optimierung </p>
          <h2><a href="{% url 'optimierung' %}"> Optimierung </a></h2>
        </div>
    </body>
</html>
