{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/dataoutput.css' %}">
        <title> Ergebnisse Lehrer</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> Ergebnisse für Lehrerstundenpläne</a></h1>
            <br />
            <br />
        </div>
        <div class="container">
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'download_excel_data_Allelehrer' run=run.Index %}"> Download neueste Version in EXCEL für alle Lehrer </a></h2> </button>
            <br />
            <br />
        </div>
        <div class="container">
          <b> Betrachten oder exportieren sie einzelne Klassenstudenpläne für folgende Lehrer: </b>
          <br />
          <br />
          {% for lehrer in lehrers %}
            <p> <button type="button" class="btn btn-light">   <h2><a href="{% url 'teacher_detail' lehrer=lehrer.Kurzname %}"> {{ lehrer.Name }} ( {{ lehrer.Kurzname }} ) </a></h2> </button> </p>
          {% endfor %}
        </div>
    </body>
</html>
