{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/dataoutput.css' %}">
        <title> Ergebnisse Klassen</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> Ergebnisse für Klassenstundenpläne</a></h1>
            <br />
            <br />
        </div>
        <div class="container">
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="/"> Download PDF/EXCEL für alle Klassen </a></h2> </button>
            <br />
            <br />
        </div>
        <div class="container">
          <b> Betrachten oder exportieren sie einzelne Klassenstudenpläne für folgende Klassen: </b>
          <br />
          <br />
          {% for klasse in klassen %}
            <p> <button type="button" class="btn btn-light"> <h2><a href="{% url 'class_detail' klasse=klasse.Name %}"> Klasse {{ klasse.Name }} </a></h2> </button> </p>
          {% endfor %}
        </div>

    </body>
</html>
