{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/dataoutput.css' %}">
        <title> Ergebnisse Lehrer</title>
    </head>
    <body>
      <!-- Side navigation -->
        <div class="sidenav">
          <a href="{% url 'start_page' %}"> Startseite </a>
          <a href="{% url 'input_main' %}"> Datenverwaltung </a>
            <h5> <a href="{% url 'teacher_page' %}">  Lehrer </a></h5>
            <h5> <a href="{% url 'room_page' %}"> Räume </a></h5>
            <h5> <a  href="{% url 'curriculum_page' %}"> Lehrpläne </a></h5>
            <h5> <a  href="{% url 'unavailable_page' %}"> Lehrerverfügbarkeit </a></h5>
            <h5> <a  href="{% url 'parallel_page' %}"> Parallelfächer </a></h5>
            <h5> <a  href="{% url 'mainteacher_page' %}"> Klassleitungen </a></h5>
            <h5> <a  href="{% url 'hoursperday_page' %}"> Stundenzahlen </a></h5>
            <h5> <a  href="{% url 'guidelines_page' %}"> Vorgaben </a></h5>
          <a href="{% url 'optimierung_main' %}"> Optimierung </a>
            <h5> <a  href="{% url 'datencheck' %}"> Datencheck </a></h5>
            <h5> <a  href="{% url 'parameters' %}"> Parameter </a></h5>
            <h5> <a  href="{% url 'optimierung' %}"> Optimierung </a></h5>
          <a href="{% url 'output_main' %}"> Ergebnisse </a>
            <h5> <a  href="{% url 'output_teacher' %}"> Lehrer </a></h5>
            <h5> <a  href="{% url 'output_classes' %}"> Klassen </a></h5>
        </div>
      <div class='main'>
        <div class="page-header">
            <h1><a href="/"> Ergebnisse für Lehrerstundenpläne</a></h1>
            <br />
            <br />
        </div>
        <div class="container">
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'download_excel_data_Allelehrer' run=run.Index %}"> Download neueste Version in EXCEL für alle Lehrer </a></h2> </button>
            <br />
            <br />
        </div>
        <div class="container">
          <b> Betrachten oder exportieren sie einzelne Klassenstudenpläne für folgende Lehrer: </b>
          <br />
          <br />
          {% for lehrer in lehrers %}
            <p> <button type="button" class="btn btn-light">   <h2><a href="{% url 'teacher_detail' lehrer=lehrer.Kurzname %}"> {{ lehrer.Name }} ( {{ lehrer.Kurzname }} ) </a></h2> </button> </p>
          {% endfor %}
        </div>
      </div>
    </body>
</html>
