h1 a, h2 a {
    color: #000000;
    font-size: 20pt;
}

p, h3 a {
    color: #000000;
    font-size: 15pt;
}


h2:hover, a:hover{
    color: #FFFFFF;
}

.page-header {
    background-color: #FACC2E;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #a7a7a7;
    display: block;
}

.sidenav h5 {
    padding: 5px 5px 6px 10px;
    text-decoration: none;
    font-size: 11px;
    color: #a7a7a7;
    display: block;
    margin-left: 40px;
}

.sidenav a:hover, .sidenav h5:hover, .sidenav a:active , .sidbar h5:active {
    color: #FACC2E;
}

.main {
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
