{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/datainput.css' %}">
        <title>Lehrpläne</title>
    </head>
    <body>
        <div class= "page-header">
            <h1><a href="/">Lehrpläne der Klassen</a></h1>
            <br />
            <br />
        </div>
        <div>
          <br />
          <br />
          <!-- Hier soll eine tabelle für jeden Raum entstehen, nicht eine für alle -->
          {% for klasse in klassen %}
            <p> <b> Klasse {{klasse.Name}} </b> </p>
            <table class= "table table-hover">
              <tr>
                <th>Fach</th>
                <th>Wochenstunden</th>
                <th>Tandemstunden</th>
                <th>Blockstunden</th>
                <th>in Gruppen geteilt</th>
                <th>Vepflichtend?</th>
              </tr>
              {% for fach in klasse.Faecher_set %}
                {{ fach }}
                <tr>
                  <td>{{ fach.Name }}</td>
                  <td>{{ fach.wochenstunden }}</td>
                  <td>{{ fach.tandemstunden }}</td>
                  <td>{{ fach.blockstunden }}</td>
                  <td>{{ fach.klassengruppen }}</td>
                  <td>{{ fach.verpflichtend }}</td>
                </tr>
              {% endfor %}
            </table> <br />
            <br /> <br />
            <br />
          {% endfor %}
        </div>
    </body>
</html>
