{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/datainput.css' %}">
        <title>Vorgaben</title>
    </head>
    <body>
      <!-- Side navigation -->
        <div class="sidenav">
          <a> <h2> <a href="{% url 'logout' %}"> Logout </h2> </a>
          <a href="{% url 'start_page' %}"> Startseite </a>
          <a href="{% url 'input_main' %}"> Datenverwaltung </a>
            <h5> <a href="{% url 'teacher_page' %}">  Lehrer </a></h5>
            <h5> <a href="{% url 'room_page' %}"> Räume </a></h5>
            <h5> <a  href="{% url 'curriculum_page' %}"> Lehrpläne </a></h5>
            <h5> <a  href="{% url 'unavailable_page' %}"> Lehrerverfügbarkeit </a></h5>
            <h5> <a  href="{% url 'parallel_page' %}"> Parallelfächer </a></h5>
            <h5> <a  href="{% url 'uebergreifend_page' %}"> Übergreifende Fächer </a></h5>
            <h5> <a  href="{% url 'mainteacher_page' %}"> Klassleitungen </a></h5>
            <h5> <a  href="{% url 'hoursperday_page' %}"> Stundenzahlen </a></h5>
            <h5> <a  href="{% url 'guidelines_page' %}"> Vorgaben </a></h5>
          <a href="{% url 'optimierung_main' %}"> Optimierung </a>
            <h5> <a  href="{% url 'datencheck' %}"> Datencheck </a></h5>
            <h5> <a  href="{% url 'parameters' %}"> Parameter </a></h5>
            <h5> <a  href="{% url 'optimierung' %}"> Optimierung </a></h5>
          <a href="{% url 'output_main' %}"> Ergebnisse </a>
            <h5> <a  href="{% url 'output_teacher' %}"> Lehrer </a></h5>
            <h5> <a  href="{% url 'output_classes' %}"> Klassen </a></h5>
        </div>
      <div class='main'>
        <div class= "page-header">
            <h1><a href="/">Feste Vorgaben an die Optimierung</a></h1>
            <br />
            <br />
        </div>
        <br />
        <br />
        <div>
          <p> Vorgabe hinzuzufügen: <button type="button" class="btn btn-outline-secondary"> <h3><a href="/admin/datainput/vorgabeeinheit/add/"> Vorgabe hinzufügen </a></h3></button> </p>
        </div>
        <div>
          <br />
          <br />
          <!-- Hier soll eine tabelle für jeden Raum entstehen, nicht eine für alle -->
          {% for klasse, vorgabenListe in klasseToVorgabe %}
            <h1><b> Klasse {{ klasse.Name }} </b><h1>

            <table class= "table table-hover">
              <tr>
                <th>Vorgaben</th>
                {% for tag in tage %}
                  <th>{{tag.Tag}}</th>
                {% endfor %}
              </tr>
              {% for stunde, tagVorgabenListe in vorgabenListe %}
                <tr>
                  <th>{{stunde.Stunde}}</th>
                  {% for tagVorgabe in tagVorgabenListe %}
                    <td>
                      {% if tagVorgabe %}
                         {{ tagVorgabe.Fach.Name }} {{ tagVorgabe.Lehrperson.Name }}
                      {% endif %}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table> <br />
            <br /> <br />
            <br />
          {% endfor %}
        </div>
      </div>
    </body>
</html>
