{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/datainput.css' %}">
        <title>Hauptseite Dateninput</title>
    </head>
    <body>
        <div class= "page-header">
            <h1><a href="/">Startseite Dateninput</a></h1>
            <p> Auf dieser Seite können sie sämtliche Datensätze für ihre Schule verwalten. Die Daten werden gespeichert und dann an das Optimierungstool übergeben. </p>
            <p> Daten, die nicht hier enthalten sind, können bei der Optimierung nicht berücksichtigt werden. Bitte überprüfen sie ihre Daten vor dem Optimieren auf Korrektheit</p>
        </div>
        <br />
        <br />
        <div class="container">
            <button type="button" class="btn btn-light"> <h2> <a href="{% url 'teacher_page' %}"> Lehrerverwaltung </a> </h2> </button>
                        <p> Dieser Unterpunkt erlaubt ihnen, ihr Personal mit Name, Arbeitsstunden und ihren Fächern zu verknüpfen</p>
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'room_page' %}"> Raumverwaltung </a></h2></button>
                        <p> Dieser Unterpunkt zeigt alle Spezialräume und deren Belegung an</p>
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'curriculum_page' %}"> Lehrpläne </a></h2> </button>
                        <p> Hier können die Lehrpläne der Klassen angepasst werden</p>
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'unavailable_page' %}"> Verfügbarkeit von Lehrern </a></h2></button>
                        <p> Hier können sie angeben, zu welchen Stunden welche Lehrer nicht für Unterrrichtzur Verfügung stehen </p>
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'parallel_page' %}"> Parallel stattfindende Fächer </a></h2> </button>
                        <p> Hier kann eingestellt werden, welche Gruppen and Fächern gemeinsam unterrichtet werden müssen </p>
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'mainteacher_page' %}"> Klassenleitungen, Tandems und Partnerlehrer </a></h2> </button>
                        <p> Für jede Klasse kann die Lererkonstellation eingestellt werden</p>
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'hoursperday_page' %}"> Stundenzahl pro Tag </a></h2> </button>
                        <p> Hier kann festgelegt werden, wie viele Stunden pro Tag ein Klasse machen muss </p>
            <br />
            <br />
            <button type="button" class="btn btn-light"> <h2><a href="{% url 'guidelines_page' %}"> Vorgaben an die Pläne </a></h2> </button>
                        <p> Bereits voreingestellte Vorgaben an die Pläne können hier eingegeben werden</p>
            <br />
            <br />
        </div>
        <div class="container">
            <br />
            <br />
            <b> Fertig mit Daten eintragen? Dann gehts hier zum Datencheck:     </b>
            <button type="button" class="btn btn-warning"> <h2><a href="{% url 'datencheck' %}"> Datencheck </a></h2> </button>
        </div>
        <br />
        <br />            <br />
        <br />            <br />
        <br />            <br />
        <br />            <br />
        <br />
    </body>
</html>
