<html>
    <head>
        <title> Parallele Fächer</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Parallel Fächer </a></h1>
        </div>
    <div>
      <table>
        <tr>
          <th>Paralle Fächergruppen</th>
        </tr>
        {% for fach, fachliste in parallels %}
          <tr>
            <td>
            {% for parfach in fachliste %}
                {{ fach.Name }} {{ parfach.Name }}
            {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    </body>
</html>
