{%load render_table from django_tables2%}
<html>
    <head>
        <title>Raumverwaltung</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Einstellung für die Raumbelegung</a></h1>
        </div>
        <div>
          <!-- Hier soll eine tabelle für jeden Raum entstehen, nicht eine für alle -->
          {% for raum, stundenListe in roomToSlot %}
            {{raum.Name}}
            <p>{{raum.Beschreibung}}</p>

            <table>
              <tr>
                <th>Stunden</th>
                {% for tag in tage %}
                  <th>{{tag.Tag}}</th>
                {% endfor %}
              </tr>
              {% for stunde, tagBelegungsListe in stundenListe %}
                <tr>
                  <th>{{stunde.Stunde}}</th>
                  {% for tagBelegung in tagBelegungsListe %}
                    <td style="background-color: {% if tagBelegung %}red{% else %}green{% endif %}"></td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table> <br />
            <br /> <br />
            <br />
          {% endfor %}
        </div>
    </body>
</html>
