<html>
    <head>
        <title> Lehrerverwaltung </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Lehrerverwaltung </a></h1>
        </div>
    <div>
      <table>
        <tr>
          <th>Lehrer</th>
          <th>Kürzel</th>
          <th>Stundenzahl</th>
          <th>Fächer</th>
        </tr>
        {% for lehrer in lehrers %}
          <tr>
            <td>{{ lehrer.Name }}</td>
            <td>{{ lehrer.Kurzname }}</td>
            <td>{{ lehrer.Stundenzahl }}</td>
            <td>
              {% for fach in lehrer.Faecher.all %}
                {{ fach.Name }}, 
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    </body>
</html>
