{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/datainput.css' %}">
        <title> Lehrerverwaltung </title>
    </head>
    <body>
        <div class= "page-header">
            <h1><a href="/">Lehrerverwaltung </a></h1>
            <p> Eine Übersicht über alle angestellten Lehrer und deren Eingabedaten. Um einen Lehrer hinzuzufügen oder zu ändern, besuchen sie bitte /admin </p>
            <br />
            <br />
        </div>
    <div>
      <br />
     <br />
      <table class="table table-hover">
        <tr>
          <th>Lehrer</th>
          <th>Kürzel</th>
          <th>Stundenzahl</th>
          <th>Fächer</th>
          <th>Tandem</th>
        </tr>
        {% for lehrer in lehrers %}
          <tr>
            <td>{{ lehrer.Name }}</td>
            <td>{{ lehrer.Kurzname }}</td>
            <td>{{ lehrer.Stundenzahl }}</td>
            <td>
              {% for fach in lehrer.Faecher.all %}
                {{ fach.Name }} {% if not forloop.last %},{% endif %}
              {% endfor %}
            </td>
            <td> {{ lehrer.Tandem }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    </body>
</html>
