{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/datainput.css' %}">
        <title> Stunden blocken</title>
    </head>
    <body>
        <div class= "page-header">
            <h1><a href="/"> Verfügbarkeit von Lehrern </a></h1>
            <br />
            <br />
        </div>
        <div>
          <br />
          <br />
          <!-- {% for raum, stundenListe in roomToSlot %}
            <p> <b> {{ raum.Name }} </b> <p/>
            <p>{{ raum.Beschreibung }}</p>
            {% for fach in raum.faecher.all %}
              <p>{{ fach.Name }}</p>
            {% endfor %} -->

            <table class= "table table-hover">
              <tr>
                <th>Stunden</th>
                {% for tag in tage %}
                  <th>{{tag.Tag}}</th>
                {% endfor %}
              </tr>
              {% for stunde, tagBelegungsListe in stundenListe %}
                <tr>
                  <th>{{stunde.Stunde}}</th>
                  {% for tagBelegung in tagBelegungsListe %}
                    {% for lehrer in tagBelegung %}
                      <td> {{ lehrer.Name }} </td>
                    <!-- <td style="background-color: {% if tagBelegung %}red{% else %}green{% endif %}"> </td> -->
                    {% endfor %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </table> <br />
            <br /> <br />
            <br />
          <!-- {% endfor %} -->
        </div>
    </body>
</html>
