{% load static %}
{% load bootstrap3 %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/datainput.css' %}">
        <title> Stunden blocken</title>
        <style>
        #hiddenForm {
          display: none;
        }
        </style>
        <script>
        function showHiddenForm() {
          var form = document.getElementById("hiddenForm");
          form.style.display = "block";
        }
        </script>
    </head>
    <body>
      <!-- Side navigation -->
        <div class="sidenav">
          <a> <h2> <a href="{% url 'logout' %}"> Logout </h2> </a>
          <a href="{% url 'start_page' %}"> Startseite </a>
          <a href="{% url 'input_main' %}"> Datenverwaltung </a>
            <h5> <a href="{% url 'teacher_page' %}">  Lehrer </a></h5>
            <h5> <a href="{% url 'room_page' %}"> Räume </a></h5>
            <h5> <a  href="{% url 'curriculum_page' %}"> Lehrpläne </a></h5>
            <h5> <a  href="{% url 'unavailable_page' %}"> Lehrerverfügbarkeit </a></h5>
            <h5> <a  href="{% url 'parallel_page' %}"> Parallelfächer </a></h5>
            <h5> <a  href="{% url 'uebergreifend_page' %}"> Übergreifende Fächer </a></h5>
            <h5> <a  href="{% url 'mainteacher_page' %}"> Klassleitungen </a></h5>
            <h5> <a  href="{% url 'hoursperday_page' %}"> Stundenzahlen </a></h5>
            <h5> <a  href="{% url 'guidelines_page' %}"> Vorgaben </a></h5>
          <a href="{% url 'optimierung_main' %}"> Optimierung </a>
            <h5> <a  href="{% url 'datencheck' %}"> Datencheck </a></h5>
            <h5> <a  href="{% url 'parameters' %}"> Parameter </a></h5>
            <h5> <a  href="{% url 'optimierung' %}"> Optimierung </a></h5>
          <a href="{% url 'output_main' %}"> Ergebnisse </a>
            <h5> <a  href="{% url 'output_teacher' %}"> Lehrer </a></h5>
            <h5> <a  href="{% url 'output_classes' %}"> Klassen </a></h5>
        </div>
      <div class='main'>
        <div class= "page-header">
            <h1><a href="/"> Verfügbarkeit von Lehrern </a></h1>
            <br />
            <br />
        </div>
        <br />
        <br />
        <div class="container">
          <p> Einen Lehrer neu blocken: <button type="button" class="btn btn-outline-secondary" onclick="showHiddenForm()"> <h3> Lehrer blocken </a></h3></button> </p>
          <form method="post" id="hiddenForm" >
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-outline-secondary"> Save </button>
          </form>
        </div>
        <div>
          <br />
          <br />
          <p> Übersicht über die geblockten Lehrer während der Woche: </p>
          <p></p>
          <p></p>

            <table class= "table table-hover">
              <tr>
                <th>Stunden</th>
                {% for tag in tage %}
                  <th>{{tag.Tag}}</th>
                {% endfor %}
              </tr>
              {% for stunde, tagBelegungsListe in stundenListe %}
                <tr>
                  <th>{{stunde.Stunde}}</th>
                  {% for tagBelegung in tagBelegungsListe %}
                    <td>
                        {% for lehrer in tagBelegung %}
                          {{ lehrer.Name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table> <br />
            <br /> <br />
            <br />
        </div>
      </div>
    </body>
</html>
